:root{
    --menu-color:#001C93;
}

.page-header{
    background: #0047AB;
}

a.trk-join{font-size: 1rem;
border: transparent;
color: var(--bg-white);
font-family: "Open Sans", sans-serif;
padding: 1rem 2.5rem;
text-decoration: none;
transition: all 0.3s ease-out;
text-transform: capitalize;
line-height: 1;
border-radius: 8px;
background: #28A745;
}

/* h1, h2, h3, h4, h5, h6 {
    color: #0C263A !important;
} */

.account__header p{
    color: #6B777F;
}
.scroll-to-top{
    background:#1a59b3;
    color: #fff !important;
}

.createnew-group{
    background: linear-gradient(150.39deg, rgba(237, 242, 248, 0.22) 15.02%, #EDF2F8 99.59%);
    padding: 20px 45px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    transition: 0.3s ease-in all;
    position: relative;
}
.createnew-group:hover {
    background: linear-gradient(150.39deg, rgb(237 242 248 / 51%) 15.02%, #dce1e6 99.59%);
    transition: 0.3s ease-in all;
}

/* .createnew-group:after {
    background: #fff;
    background: var(--bg-white);
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    top: -50px;
    transform: rotate(35deg);
    transition: all .55scubic-bezier(.19,1,.22,1);
    width: 50px;
    z-index: -10;
} */


.createnew-group h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    padding: 10px 17px;
    color: #0C263A;
    text-align: center;
    margin-bottom: 0px;
}
.createnew-group h1{
    font-size: 46px;
    min-height: 75px;
}
.createnew-group p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 0px 17px 27px;
    color: #6B777F;
    text-align: center;
    margin-bottom: 0px;
}

.creategroup-img {
    background: #fff;
    border-radius: 100%;
    height: 104px;
    width: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 24px 0px #0C345B0A;
    margin: 13px 0px;
}

.creategroup-img img{
    max-width: 47px;
}

.dash-sec{
    background: #F5F5F5 !important;
}

.dash-sec h2.mb-15.mt-minus-5{
    color: #0c263a;
}

.dash-sec h2.mb-15.mt-minus-5 span{
    color: #0c263a;
}

.contact__form {
    background: #fff;
    padding: 20px;
    border-radius: 7px;
}

.contact__social {
    margin-block-end: 17px !important;
}

.pooldata-card{

}

.pooldata-card .poll-option {
    border-left: 4px solid #0047ab !important;
    /* padding-left: 10px; */
    margin-bottom: 15px;
    background: #fff;
    border-radius: 10px;
    padding: 6px 11px;
    border: solid 1px #0047ab;
}
  .pooldata-card .poll-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
  }
  .pooldata-card .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .pooldata-card .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .pooldata-card .interaction-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .pooldata-card .interaction-buttons span {
    cursor: pointer;
    color: #6c757d;
  }
  .pooldata-card .interaction-buttons span:hover {
    color: #007bff;
  }

  .pooldata-card {
    transition: all 0.3s ease-out;
    background-color: #fff;
    border: 2px solid transparent;
    box-shadow: 0px 16px 40px 0px rgba(26, 64, 137, 0.06);
    border-radius: 16px;
    padding: 20px 15px;
    margin-bottom: 27px;
}

.pooldata-card .progress {
    border-radius: 36px;
    margin: 9px 0px;
    width: 100%;
}
.pooldata-card .progress-bar {
    background: #28A745 !important;
}

.pooldata-card h6{
    padding:10px 0px;
    margin-bottom: 0px;
}

.poll-option span{
    font-weight: 500;
}
.votesdata-input {
    display: inline-flex;
    align-items: center;
    column-gap: 11px;
}

.pooling-vote {
    padding: 45px 0px;
}

.early-data {
    display: flex;
    align-items: center;
    font-weight: 500;
    column-gap: 10px;
}

.earyexit-grp {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 0px;
}
.support-group span {
    font-weight: 500;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0px;
}

.early-data .form-check-input:checked {
    background-color: #28A745;
    border-color: #28A745;
}

.pooling-vote h2.mb-15.mt-minus-5 {
    color: #0c263a;
}






.user-dropdown .dropdown button img {
    filter: inherit;
    /* max-width: 68px; */
    border-radius: 100%;
    border: solid 2px #ffffff;
    margin-left: -2px;
    width: 40px;
    height: 40px;
}

.header .dropdown button span {
    color: #fff;
    font-size: 15px;
    /* display: block; */
    padding-left: 11px;
}

.user-dropdown .dropdown .dropdown-menu {
    background: #fff;
    border: 1px solid #D7E1FF;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 40px;
    right: 22px;
}

.user-dropdown .dropdown .dropdown-menu:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 16px;
    background: #fff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #D7E1FF;
    border-bottom: none;
    z-index: -4;
}


.user-dropdown .dropdown a.dropdown-item {
    font-size: 13px;
    font-weight: 500;
    color: #0e2a4f;
    line-height: 22px;
    text-align: start;
    padding: 5px 12px;
}

.user-dropdown .dropdown button span {
    color: #0e2a4f;
    font-size: 15px;
    /* display: block; */
    padding-left: 11px;
    font-weight: 500;
}

.user-dropdown .dropdown-item:focus, .user-dropdown a.dropdown-item:hover{
    background: #0e2a4f;
    color: #fff;
}

.notification-data .dropdown .dropdown-menu {
    background: #fff;
    border: 1px solid #D7E1FF;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 40px;
    right: 22px;
    width: 440px;
    padding: 0px 0px;
}

.notification-data .dropdown .dropdown-menu:before {
    right: 0px;
    left: inherit;
}

.notification-data a i {
    color: #fff;
    font-size: 21px;
    position: relative;
    background: linear-gradient(180deg, #00051A 0%, #000F38 100%);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.notification-data a i:after {
    position: absolute;
    /* content: "2"; */
    background: #ED4F9D;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    top: -7px;
    left: 27px;
    display: flex
;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border: solid 1px #fff;
}

.wallet-connect {
    display: flex;
    align-items: center;
    column-gap: 11px;
    margin-left: 55px;
}

.wallet-img img{
    max-width: 27px;
}

.wallet-img h6{
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;

}

.wallet-img h2{
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0px;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-section .container-fluid {
    padding: 0px 133px;
}

.private-govermrnt {
    width: 20%;
    margin: 3px 0px 29px;
}

.private-govermrnt .form-select{
    font-size: 16px;
    padding: 10px 20px;
}

.private-govermrnt .form-select select{
    font-size: 14px;
}

.private-govermrnt .form-select option{
    font-size: 14px;
}

.userprofile-img {
    background: #fff;
    border-radius: 7px;
    margin: 0px 0px 23px;
    display: flex;
    align-items: center;
    column-gap: 17px;
    padding: 17px 17px;
    /* display: flex
; */
    justify-content: space-between;
    width: 100%;
}

.img-user img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: solid 2px #0047ab;
    object-fit: cover;
}

.username-heading h6{
    color: #0047ab;
    font-size: 23px;
    margin-bottom: 3px;
    line-height: 20px;
}

.username-heading p{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 20px;
}

.dropzone {
    position: relative;
    display: flex
;
    flex-direction: column;
}

.dz-message {
    /* padding: 0px 50px; */
    background-color: #0047ab;
    border: 1px dashed #0047ab;
    border-radius: 0.375rem;
    text-align: center;
    color: #8898aa;
    transition: all 0.15s ease;
    order: -1;
    cursor: pointer;
    z-index: 999;
    position: relative;
    height: 45px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


 

.image-doc img {
    height: 27px;
    filter: brightness(0) invert(1);
}

.email-address h6 {
    margin-bottom: 0px;
    color: rgb(19, 71, 129);
    font-size: 14px;
}

.uservehicle-details .email-address input {
    border-radius: 5px;
    border: 1px solid rgba(56, 64, 205, 1);
    padding: 6px 14px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}


.dropzone input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    filter: alpha(opacity = 0);
    opacity: 0;
}

.image-upload i {
    background: #134781;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 100%;
    font-size: 18px;
    color: #fff;
}

.dark-subject {
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 17px;
}

.viewmore-details{
    padding: 0px 0px 23px;
}

.viewmore-details a {
    font-size: 16px;
    font-weight: 600;
    color: rgb(0 28 147 / 81%);
}

.service-details .service-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.service-details .service-box h4 {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid 
color-mix(in srgb, var(--default-color), transparent 92%);
    padding-bottom: 0px;
    margin-bottom: 15px;
}

.service-details .services-list {
    background-color: #fff;
    height: 360px;
    overflow-y: overlay;
}

.service-details .services-list a.active {
    color: #fff;
    background-color: #2c62db;
}

.service-details .services-list a {
    color: 
color-mix(in srgb, var(--default-color), transparent 20%);
    background-color: #44444417;
    display: flex
;
    align-items: center;
    padding: 12px 15px;
    margin-top: 15px;
    transition: 0.3s;
}

.service-details .services-img {
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

.service-details h3 {
    color: #2c62db;
    font-size: 26px;
    font-weight: 700;
}

.service-details p {
    font-size: 15px;
}

.service-details ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.service-details ul li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.service-details ul i {
    font-size: 20px;
    margin-right: 8px;
    color: #2c62db;
    line-height: 1.2;
    border: solid 1px #2c62db;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 12px;
    display: flex
;
    justify-content: center;
    align-items: center;
}
.iss-public {
    display: flex;
    align-items: center;
}

.service-details ul li p {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.service-details .services-list a.active i{
    color: #fff;
    border-color: #fff;
}

.service-details .services-list a i {
    font-size: 14px;
    margin-right: 8px;
    color: #2c62db;
    border: solid 1px #2c62db;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saving-cost {
    display: flex;
    align-items: center;
    width: 100%;
}
.search-filtersgroup input{
    background-color: #fff;
    border-color: #bbc2c7;
    padding: 12px 20px;
    border-radius: 8px;
    color: #001c93;
    height: 48px;
    width: 100%;
}
.search-filtersgroup{
    width: 100%;
}

.for-m {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.header-slider {
    background: #001C93;
    padding: 42px 0px;
}       
.header-slider .page-header__content h2 {
    margin-bottom: 0px;
    line-height: 20px;
}


.white-card {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);

}
.wc-img {
    margin:15px;    
    position: relative;    
}
.wc-img:after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .51);
    border-radius: 10px;    
}
.wc-img img {
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.img-content {
    position: absolute;
    bottom: 5px;
    left: 25px;
    width: 80%;
    z-index: 99;
}
.img-content h3 {
    font-size: 21px;
    font-weight: bold;
    color:#fff;
    margin-bottom: 0;
}
.img-content p {
    font-size: 12px;
    font-weight: bold;
    color:#fff;
}
.img-content a {
    color:#08d67e;
    text-decoration: none;
}
.img-content a:hover {    
    color:#08d67e;
    text-decoration: underline;
}

.wc-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 15px;
}
.line-tages p {
    color:#283e50;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}
.wc-price {
    background: #295a9d;
    padding: 10px 30px;
    border-radius: 50px 0 0 50px;
    color: #fff;
    margin-right: -15px;
    text-align: center;
}
.wc-price h2 {
    color: #fff;
    font-size: 54px;
    margin: 10px 0 0 0;
    line-height: .7;
    font-weight: 500;
}
.wc-list {
    padding:0 15px 15px 15px ;
}
.wc-list ul {
    list-style: none;
    margin:0;
    padding:0;
}
.wc-list ul li {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.wc-list ul li strong {
    color:#283e50;
    font-weight: bold;
}
.wc-list ul li span {
    color:#6b777f;
    font-weight: 600;
}

.group-details-title h2{
    margin-bottom: 23px;
}

.group-details-title p{
    font-size: 15px;
    color: rgba(255, 255, 255, .90);
    font-weight: 500;
    padding: 17px 0px;
    max-width: 700px;
    line-height: 25px;
    margin-bottom: 0px;
}

.address-hyperlink {
    display: flex;
    align-items: center;
}


.address-hyperlink h6{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
}
.payment-method {
    padding: 50px 0px 20px;
}
.upcoming-payment {
    background: #fff;
    border-bottom: solid 4px #0047AB;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0px 4px 28px 0px #1A408921;
    position: relative;
}

.upcoming-payment span i{
    position: absolute;
    right: 19px;
    top: 9px;
    font-size: 15px;
    color: #6B777F;
}



.payment-simble {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.up-box h2 {
    width: 50px;
    height: 50px;
    background: #0047AB;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 0px;
    margin-bottom: 0px;
}

.payment-date h3{
    font-size: 17px;
    font-weight: bold;
    color: #000;
    margin-bottom: 7px;
    line-height: 15px;
}

.payment-date p{
    margin-bottom: 0px;
    color: #6B777F;
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 15px;
}

.group-contrutbution {
    background: #fff;
    border-bottom: solid 4px #0047AB;
    border-radius: 10px;
    padding: 20px 20px;
    margin-top: 23px;
    box-shadow: 0px 4px 28px 0px #1A408921;
}

.group-contrutbution ul {
    list-style: none;
    margin:0;
    padding:0;
}
.group-contrutbution ul li {
    font-size: 15px;
    margin-bottom: 8px;
}
.group-contrutbution ul li  {
    color:#283e50;
    font-weight: bold;
}
.group-contrutbution ul li span {
    color:#6b777f;
    font-weight: 600;
}

.contr-graph{
    background: #fff;
    border-bottom: solid 4px #0047AB;
    border-radius: 10px;
    box-shadow: 0px 4px 28px 0px #1A408921;
}

.contr-graph h2 {
    color: #222529;
    font-size: 18px;
    font-weight: 600;
    line-height: 15px;
    margin-bottom: 0px;
    padding: 17px 15px;
    border-bottom: solid 1px rgb(217 217 217 / 56%);
}

.contr-graph img{
    padding: 17px;
}
.payment-tag {
    display: flex;
    align-items: self-start;
    padding: 9px 18px;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: column;
}
.grah-details-tag h6 {
    color: #8C97A7;
    font-size: 15px;
    font-weight: 500;
    line-height: 12px;
    margin-bottom: 0px;
    padding: 7px 20px;
    position: relative;
}

.inves h6:after{
    position: absolute;
    left: 0px;
    content: "";
    background: #0047AB;
    border-radius: 100%;
    height: 7px;
    width: 7px;
}


.rec h6:after{
    position: absolute;
    left: 0px;
    content: "";
    background: #05E02D;
    border-radius: 100%;
    height: 7px;
    width: 7px;
}

.your-inves h6:after{
    position: absolute;
    left: 0px;
    content: "";
    background: #001C93;
    border-radius: 100%;
    height: 7px;
    width: 7px;
}
.total-rec h6:after{
    position: absolute;
    left: 0px;
    content: "";
    background: #356EBE;
    border-radius: 100%;
    height: 7px;
    width: 7px;
}
.service-details ul li span{
    padding-left: 5px;
}
.tjgk-main {
    min-height: calc(100vh - 500px);
}
.group-details-title p a {
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    background: #28a745;
    border-radius: 5px;
    padding: 5px 11px;
    margin: 7px 0px 5px 10px;
}
/************************************************** Responsive **************************************************/
@media(max-width:1440px){
    .notification-data a i{
        height: 35px;
        width: 35px;
        font-size: 17px;
    }

    .header-section .container-fluid {
        padding: 0px 28px;
    }
    .user-dropdown .dropdown button img{
        max-width: 44px;
    }
    a.trk-join{
        padding: 0.8rem 1.7rem;
        font-size: 14px;
    }
    .createnew-group h2{
        font-size: 21px;
    }
    .creategroup-img{
        width: 85px;
        height: 85px;
    }
    .creategroup-img img {
        max-width: 35px;
    }
}

@media(max-width:1366px){
    .wallet-connect{
        margin-left: 17px;
    }
}

@media(max-width:1200px){
    .header-section .container-fluid {
        padding: 0px 28px;
    }
    .wallet-img img {
        max-width: 22px;
    }
    .user-dropdown .dropdown button img {
        max-width: 36px;
    }
    .notification-data a i {
        height: 30px;
        width: 30px;
        font-size: 15px;
    }
    .notification-data a i:after{
        left: 23px;
    }
    .wallet-connect{
        margin-right: 12px;
    }
}

@media(max-width:1166px){
    a.trk-join {
        padding: 0.8rem 1.1rem;
        font-size: 12px;
    }
    .creategroup-img{
        width: 75px;
        height: 75px;
    }
    .creategroup-img img {
        max-width: 30px;
    }
    .createnew-group h1{
        font-size: 37px;
        min-height: 46px;
    }
}

@media(max-width:1024){
    a.trk-join {
        padding: 0.8rem 1.1rem;
        font-size: 12px;
    }
    .createnew-group{
        padding: 20px;
    }
    .for-m{
        column-gap: 0px;
    }
}

@media(max-width:767px){
    .service-details ul i {
        width: 20px;
        height: 20px;
    }
    /* .iss-public {
        display: flex;
        align-items: self-start;
        flex-direction: column;
    } */
    .for-m{
        column-gap: 0px;
    }
    .service-details ul li{
        flex-direction: column;
        align-items: self-start;
    }
    .service-details ul li span {
        padding-left: 27px;
    }
   
    .wallet-img h2{
        font-size: 13px;
    }
    .header-bar {
        width: 22px;
        height: 16px;
    }
    .notification-data a i {
        height: 25px;
        width: 25px;
        font-size: 12px;
    }
    .user-dropdown .dropdown button img {
        max-width: 30px;
    }
    .notification-data a i:after {
        left: 18px;
    }
    .wallet-img h6{
        font-size: 12px;
        line-height: 14px;
    }
    .header-section .container-fluid {
        padding: 0px 15px;
    }
}











/* ==============loader css=========== */


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.wc-list ul li a span {
    color: #0047ab;
    font-weight: 700;
    font-size: 18px;
}

.joined-user-graph {
    display: flex
;
    justify-content: space-between;
    align-items: center;
}

.active-user .join-memeberdata{
    background: #fff;
    border-bottom: solid 4px #0047AB;
    border-radius: 10px;
    padding: 20px 20px;
    margin-top: 23px;
    box-shadow: 0px 4px 28px 0px #1A408921;
}
section.active-user {
    padding: 35px 0px;
}

.user-datajoin{
    background: #fff;
border-bottom: solid 4px #0047AB;
border-radius: 10px;
padding: 0px;
margin-top: 23px;
box-shadow: 0px 4px 28px 0px #1A408921;
  }
    .user-datajoin .active-members {
        color: #0047AB;
        font-size: 14px;
        cursor: pointer;
        font-weight: 300;
    }
    .user-datajoin table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }
    .user-datajoin th, td {
            padding: 17px 0px;
            text-align: center;
            color: #292D32;
            font-weight: 500;
            font-size: 14px;
        }
    .user-datajoin th {
        color: #B5B7C0;
        font-weight: 500;
        font-size: 14px;
    }
   
    .user-datajoin .table-container {
        border-radius: 10px;
        overflow: hidden;
       
    }
    .user-datajoin h2{
        color: #000;
        font-size: 22px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 0px;
    }

    .user-datajoin .table-container tr{
        border-bottom: solid 1px #EEEEEE;
    }
   .member-user {
            padding: 15px 30px;
        }

    .active-usertable{
        padding: 40px 0px;
    }

    .circular-progress {
        width: 130px; /* Match Figma size */
        height: 130px;
        border-radius: 50%;
        background: conic-gradient(
          #00c853 calc(var(--progress) * 1%),  /* Green Progress */
          #ddd calc(var(--progress) * 1%) /* Gray Remaining */
        );
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
      
      .inner-circle {
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .progress-text {
        font-size: 18px;
        font-weight: bold;
        color: black;
      }
      

      .user-datajoin{
        background: #fff;
    border-bottom: solid 4px #0047AB;
    border-radius: 10px;
    padding: 0px;
    margin-top: 23px;
    box-shadow: 0px 4px 28px 0px #1A408921;
      }
        .user-datajoin .active-members {
            color: #0047AB;
            font-size: 14px;
            cursor: pointer;
            font-weight: 300;
        }
        .user-datajoin table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        .user-datajoin th, td {
                padding: 17px 0px;
                text-align: center;
                color: #292D32;
                font-weight: 500;
                font-size: 14px;
            }
        .user-datajoin th {
            color: #B5B7C0;
            font-weight: 500;
            font-size: 14px;
        }
       
        .user-datajoin .table-container {
            border-radius: 10px;
            overflow: hidden;
           
        }
        .user-datajoin h2{
            color: #000;
            font-size: 22px;
            font-weight: 500;
            line-height: 22px;
            margin-bottom: 0px;
        }

        .user-datajoin .table-container tr{
            border-bottom: solid 1px #EEEEEE;
        }
        .member-user {
            padding: 24px 30px 0px;
        }

            .active-usertable {
                padding: 0px 0px 50px;
            }
        
        .addmember-user{
          display: flex;
          justify-content: start;
          align-items: start;
          padding: 20px;
        }
        .addmember-user button{
            background: #28A745;
            padding: 10px 20px;
            color: #fff;
            font-size: 14px;
           border-radius: 7px;
           border: none;
           display: flex;
           align-items: center;
           column-gap: 7px;
           cursor: pointer;
        }
        .group-started {
    padding: 20px;
    display: flex
;
    align-items: center;
    justify-content: space-between;
}
.addmember-user button i {
    border: solid 1px #fff;
    width: 25px;
    height: 25px;
    display: flex
;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 14px;
    line-height: 0px;
}
        .addmember-user {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 20px;
}
        .group-notstarted h6{
            color: #001c93;
            margin-bottom: 0px;
            font-size: 17px;
            margin-top: 0px;
        }
        .group-notstarted h6 span{
            color: #6B777F;
        }
        .group-started {
    padding: 20px;
}

.group-notstarted button {
    background: #0047ab;
    padding: 12px 32px;
    color: #fff;
    font-size: 14px;
    border-radius: 7px;
    border: none;
    display: flex
;
    align-items: center;
    column-gap: 7px;
    cursor: pointer;
}

.user-status-graph {
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-userdata{
    display: flex;
    align-items: center;
    column-gap: 10px;
}


/* ===========popup================= */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup h2 {
    margin: 0 0 10px;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.popup button {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.confirm-btn {
    background: #28a745;
    color: white;
}

.cancel-btn {
    background: #dc3545;
    color: white;
}

/* Show Popup */
.popup-overlay.active {
    visibility: visible;
    opacity: 100;
}

.group-details-title button.btn.btn-link {
    background: #28a745;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    margin: 14px 0px;
    color: #fff;
}

.account{
    padding: 50px 0px;
}

.modal-content {
    width: 100%;
    max-width: 517px;
    margin: 0px auto;
    background: #fff;
    box-shadow: 0px 3px 8px 1px rgba(182, 182, 182, 0.22);
    border: none;
    border-radius: 10px;
}

.modal-header .btn-close {
    position: absolute;
    right: 15px;
    top: 22px;
    /* background: none; */
    border-radius: 100%;
    width: 24px;
    height: 24px;
    opacity: 1;
    display: flex
;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-title h4{
    color: #000;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 0px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .info-icon {
    cursor: pointer;
    font-size: 16px;
    color: #0d6efd;
  }
  
  .custom-tooltip {
    position: absolute;
    bottom: 120%; /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    color: #000000;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    width: 180px;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
  }
  
  .custom-tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Bottom of tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
  }
  
  .userstart-chatbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F7FC;
    padding: 29px 30px;
    border-radius: 7px;
}
.userstart-chatbox h2{
    font-size: 26px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 0px;
}

.userstart-chatbox i {
    font-size: 21px;
    color: #0047ab;
}

.chatuser-search{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 33px;
}

.chatuser-search input{
    background-color: var(--wh-color);
    border-color: var(--form-border);
    padding: 12px 20px;
    border-radius: 8px;
    color: var(--title-color);
}

.chatting {
    background: #F5F7FC;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border-radius: 5px;
    margin-top: 10px;
    column-gap: 15px;
}

.username-heading h6 {
    color: #0c263a;
    font-weight: 400;
    font-size: 19px;
    padding-top: 9px;
}

.userchat-images img{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: solid 1px #0c263a;
}

.chatwindow-private {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 33px;
    height: 454px;
    overflow: auto;
    position: relative;
}

.offer-posting-timing {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.offer-posting {
    background: #0f29990f;
    padding: 19px 25px;
    border-radius: 0px 20px 20px 20px;
    width: 50%;
}

.offer-posting span {
    color: #292524;
    font-size: 16px;
    font-weight: 420;
    line-height: 24px;
}

.offer-posting ul {
    margin: 5px 0px;
    padding: 0px;
}

.offer-posting ul li {
    list-style: none;
    padding: 5px 0px;
    font-size: 14px;
    font-weight: 390;
    color: #1F2024;
    line-height: 20px;
}
.head-ofc span {
    color: #78716C;
    font-size: 10px;
    font-weight: 420;
    line-height: 12px;
}

.reply-chatoffer {
    display: flex
;
    align-items: center;
    justify-content: end;
    margin: 10px 0px;
    column-gap: 10px;
}

.reply-chatoffer-content {
    text-align: end;
}

.reply-chatoffer-content h2 {
    color: #162A26;
    font-weight: 450;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
}

.reply-chatoffer-content p {
    color: #162A26;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0px;
}

.reply-chatoffer-content {
    text-align: end;
}

.reply-chatoffer-content img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1.25px solid #BA9553;
}

.offer-posting-timing {
    display: flex
;
    align-items: center;
    column-gap: 12px;
}

.of-tyr {
    background: #e0eedf6e;
    border-radius: 20px 0px 20px 20px;
}

.offer-posting span {
    color: #292524;
    font-size: 16px;
    font-weight: 420;
    line-height: 24px;
}

.offer-posting ul {
    margin: 5px 0px;
    padding: 0px;
}

.offer-posting ul li {
    list-style: none;
    padding: 5px 0px;
    font-size: 14px;
    font-weight: 390;
    color: #1F2024;
    line-height: 20px;
}

.type-heresearch {
    background: #fff;
    padding: 10px 7px;
    margin-top: 23px;
}

.type-heresearch input {
    position: absolute;
    bottom: 14px;
    left: 7px;
    right: 0px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    width: 98%;
}

.offer-promotiondata{
    display: flex;
    justify-content: end;
}